.tile {
    width: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    transition: all ease 0.5s 0s;
    font-family: 'Mansalva', cursive;

    &:hover {
        font-size: 3rem;
        font-weight: bold;
        padding-top: 30vh;
        padding-bottom: 30vh;
    }
}