@import 'var';

* {
    margin: 0;
    padding: 0;
}

.vivid-purple {
    color: $COLOR_PURPLE_VIVID;
    text-decoration: none;

    &:hover {
        color: $COLOR_PURPLE_LIVE;
    }
}

.c-pointer { cursor: pointer; }

@keyframes rainbow {
    0%   { border: 2px solid #f00; }
    15%  { border: 2px solid #f80; }
    30%  { border: 2px solid #ff0; }
    45%  { border: 2px solid #0f0; }
    60%  { border: 2px solid #08f; }
    75%  { border: 2px solid #009; }
    90%  { border: 2px solid #90f; }
    100% { border: 2px solid #f00; }
}

.rainborder {
    position: fixed;
	z-index: 1030;
    animation: rainbow 10s infinite 0s;
}

.l-line { top: 0; left: 0; width: 0; height: calc(100vh); }
.r-line { top: 0; right: 0; width: 0; height: calc(100vh); }
.t-line { top: 0; left: 0; width: calc(100vw); height: 0; }
.b-line { bottom: 0; left: 0; width: calc(100vw); height: 0; }

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

html {
    font-size: 10px;
}

li {
    margin: 8px 0;
}

body {
    color: #333;
    line-height: 1.5;
    word-break: keep-all;
    letter-spacing: -0.3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Spoqa Han Sans Neo', sans-serif;
}