* {
    margin: 0;
    padding: 0;
}

.deep-purple,    .deep-purple:hover    { color: #474787; }
.shallow-purple, .shallow-purple:hover { color: #515199; }
.minimal-purple, .minimal-purple:hover { color: #706fd3; }
.white-purple,   .white-purple:hover   { color: #eeeeff; }
.live-purple,    .live-purple:hover    { color: #9b59b6; }
.grape-purple,   .grape-purple:hover   { color: #8e44ad; }
.vivid-purple,   .vivid-purple:hover   { color: #5800ff; }

a.deep-purple,
a.shallow-purple,
a.minimal-purple,
a.white-purple,
a.live-purple,
a.grape-purple,
a.vivid-purple {
	text-decoration: none;
}

.bg-deep-purple    { background-color: #474787; }
.bg-shallow-purple { background-color: #515199; }
.bg-minimal-purple { background-color: #706fd3; }
.bg-white-purple   { background-color: #eeeeff; }
.bg-live-purple    { background-color: #9b59b6; }
.bg-grape-purple   { background-color: #8e44ad; }
.bg-vivid-purple   { background-color: #5800ff; }

.ember{ color: #fd0; }

.fill-full-display { width: 100%; height: 100vh; }
.fill-half-display { width: 100%; height: 50vh; }
.fill-auto-display { width: 100%; height: auto; }
.fill-inner { width: 100%; height: 100%; }
.fill-image {
	background-color: #474787;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.image-mask-dark {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: relative;
}
.image-mask-dark > * {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-mask-white {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    position: relative;
}
.image-mask-white > * {
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-cover { object-fit: cover; }
.image-fixed { background-attachment: fixed; }
.c-pointer { cursor: pointer; }

@keyframes rainbow {
    0%   { border: 2px solid #f00; }
    15%  { border: 2px solid #f80; }
    30%  { border: 2px solid #ff0; }
    45%  { border: 2px solid #0f0; }
    60%  { border: 2px solid #08f; }
    75%  { border: 2px solid #009; }
    90%  { border: 2px solid #90f; }
    100% { border: 2px solid #f00; }
}
.rainborder {
    position: fixed;
	z-index: 1030;
    animation: rainbow 10s infinite 0s;
}
.l-line { top: 0; left: 0; width: 0; height: calc(100vh); }
.r-line { top: 0; right: 0; width: 0; height: calc(100vh); }
.t-line { top: 0; left: 0; width: calc(100vw); height: 0; }
.b-line { bottom: 0; left: 0; width: calc(100vw); height: 0; }

.ns {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.navbar-brand img {
    height: 35px;
    margin-right: 10px;
}

.po {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.col-md-7 img {
    width: 100%;
}

.thum {
    border: 1px solid #ccc;
    height: 320px;
    transition: all 0.5s;
}

/*
@media screen and (min-width: 768px) {
  .thum:hover {
    z-index: 5;
    position: absolute;
    transform: scale(1.5);
  }
}
*/
body {
    background: #fff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    color: #88c;
    content: '☆';
    font-size: 25px;
}

input[type="checkbox"]:checked+label:before {
    content: '★'
}

.link-light {
    background: rgba(0, 0, 0, .5);
}

.link-light a {
    color: #fff;
}

.link-dark {
    background: rgba(255, 255, 255, .5);
}

.link-dark a {
    color: #000;
}

.social i {
    margin: 5px;
    font-size: 1.8rem;
}

#nav {
    transition: all ease 0.25s 0s;
}

.stack {
    background-color: rgba(0, 0, 0, 0);
    background-size: initial;
    height: 250px;
}

footer {
    padding-top: 20px;
    padding-bottom: 18px;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes raindrop-image {
    0% {
        top: 0;
        width: 0;
        height: 0;
    }

    30% {
        top: calc(50vh + 100px);
        width: 25px;
        height: 25px;
    }

    100% {
        top: 50vh;
        width: 250px;
        height: 250px;
    }
}

@keyframes blink-text {
    0% {
        color: rgba(0, 0, 0, 0);
        box-shadow: inset 0 rgba(0, 0, 0, 0);
    }

    50% {
        color: rgba(0, 0, 0, 1);
        box-shadow: inset 0 -1.2rem 0 rgba(200, 200, 255, 1);
    }

    100% {
        color: rgba(0, 0, 0, 0);
        box-shadow: inset 0 rgba(0, 0, 0, 0);
    }
}

.hello-face {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.hello-say {
    position: absolute;
    font-size: 1.2rem;
    left: 50vw;
    top: calc(50vh + 160px);
    transform: translateX(-50%);
    word-break: keep-all;
}

.raindrop-image {
    animation: raindrop-image 2s 1;
}

.blink-text {
    color: rgba(0, 0, 0, 0);
    animation: blink-text 4s infinite;
}

.font-ridi {
    font-family: 'RIDIBatang';
}

.font-bemin {
    font-family: 'BMEULJIRO';
}

.social-link,
.contact-link {
    list-style: none;
    padding-left: 0;
}

.social-link li,
.contact-link li {
    display: inline-block;
}

.social-link li {
    font-family: 'RIDIBatang';
    display: inline-block;
    font-size: 1.5rem;
    margin: 15px;
}

.social-link li>a {
    color: #ccc;
    text-decoration: none;
}

.social-link li::before {
    content: '/';
    font-size: 1.5rem;
    color: #ccc;
}

.contact-link li {
    font-family: 'RIDIBatang';
    font-size: 1.2rem;
    margin: 15px;
}

.contact-link li>a {
    color: #ccc;
    text-decoration: none;
}

.list-bar-left,
.list-bar-right {
    list-style: none;
}

.list-bar-left li::before,
.list-bar-right li::after {
    content: ' – ';
}

.pt-10 {
    padding-top: 10rem !important;
}

.chat-btn {
    cursor: pointer;
    position: fixed;
    right: 23px;
    bottom: 23px;
    background: #474787;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 10;
}

.chat-btn i {
    padding-top: 12px;
    font-size: 24px;
}

.popup {
    opacity: 0;
    transition: opacity 0.5s;
    position: fixed;
    right: 80px;
    bottom: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    width: 200px;
    z-index: 10;
    padding: 10px;
    word-break: keep-all;
}

.gh-buttons * {
    margin: 2px;
}

.bae-card {
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
    padding: 20px 10px;
    margin-top: 10px;
}

.bg-clarity {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.tile {
    width: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    transition: all ease 0.5s 0s;
    font-family: 'Mansalva', cursive;

    &:hover {
        font-size: 3rem;
        font-weight: bold;
        padding-top: 30vh;
        padding-bottom: 30vh;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1200px) and (min-width: 760px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 760px){
        grid-template-columns: 1fr;
    }
    .box {
        position: relative;
        width: 100%;
        height: 45vh;
        color: #fff;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .5;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.2s ease;
        }

        .text {
            position: absolute;
            width: 100%;
            top: calc(50% - 40px);
            z-index: 10;
        }

        .title, .subtitle {
            color: #fff;
            text-align: center;
        }

        .title {
            font-size: 2.2em;
        }
        
        .subtitle {
            font-size: 1em;
        }

        &:hover {
            &::after {
                opacity: 0;
            }

            img {
                transform: scale(1.5);
            }

            .text {
                z-index: 0;
                opacity: 0;
            }
        }
    }
}